.container#strap {
  // padding-right: 15px;
  // padding-left: 15px;
  width: 80%;
  margin-right: 8.75%;
  margin-left: 8.75%;

  @media (min-width: 768px) {
      width: 750px;
    }
  @media (min-width: 992px) {
      width: 970px;
    }
  @media (min-width: 1200px) {
      width: 1170px;
    }
}

.row {
  // margin-right: -15px;
  // margin-left: -15px;
}
  .row:before , .row-before:after{
    display: table;
    content: " ";
  }
  .row:after{
    clear: both;
  }
  .row#header{
    font-weight: 400;
    margin: 40px 0 40px 0;
    .col-md-4#header{
      text-align: center;
      font-size: 1.25em;
    }
  }
.col-md-4{
  position: relative;
  text-align: justify;
  // width: 27.5%;
  min-height: 1px;
  width: 350px;
  padding: 0 20px 0 20px;
  // padding-right: 25px;
  // padding-left: 25px;
  @media (min-width: 992px){
  float: left;
  }
}

footer{
  float: left;
}
