/* Main Style File for OmegaPhi.club */
@import 'fonts';
// Variables
  //Spacing and Sizes
$pad10: 15px;
$pad3: 3px;
  //Colors
$red: #b50140;
$gold: #F1d211;
$gray: #666;
$lt-gray: #bbb;
$lt-gray-hover: #ddd;
$blue: #097AD2;

// Mixins

@mixin transition($time){
  -webkit-transition: all $time;
  -o-transition: all $time;
  -moz-transition: all $time;
}

@mixin centerCol(){
  width: 80%;
  margin: 0 10% 0 10%;
}

header{
  padding-top: 1%;
  margin-bottom: -1.1%; //2.5%
  background-color: $red;
  z-index: 10;

  h1{
    font-family: $font-head, serif;
  }
  nav{
    ul{
      list-style: none;
      padding-bottom: 7px;
      margin-left: -2.37%;
      text-align: center;
      a{
        @include transition(.35s);
        text-decoration: none;
        color: inherit;
        border-bottom: transparent 3px solid;
        padding-bottom: 5px;
        li{
          display: inline;
          padding: $pad10;
          font-size: 1.25em;
          font-family: $font-head, serif;
        }
      }
      a:hover{
        @include transition(.25s);
        border-bottom: $pad3 $gold solid;
        color: $gold;
      }
    }
  }
}

div.container{
  font-family: $font-main, sans-serif;
  font-weight: 300;

h2{
  margin-top:-.5%;
  text-align: center;
  width: 100%;
  color: #111;
  font-size: 5em;
  text-transform: uppercase;
  margin-bottom: 2.5%;

  p#sub{
    font-size: .35em;
    padding: 0;
  }
}
  h2#splashTitle{
    margin-top:-23.25%;
    text-align: center;
    width: 100%;
    position: absolute;
    color: white;
    font-size: 5em;
    text-shadow: 0px 0px 1px $lt-gray;
  }
img#splash{
  -webkit-filter: brightness(-5%);
  -webkit-filter: contrast(115%);
  @include transition(.35s);
  @include centerCol;
  z-index: -9;
}
p{
  @include centerCol;
  padding: 0 25px 12px 25px;
  letter-spacing: .6px;
  line-height: 1.65em;
  margin-bottom: 1em;
}
}

footer{
  font-family: $font-head, serif;
  color: $gray;
  margin-bottom: 20px;
  a{
    @include transition(.35s);
    color: inherit;
    text-decoration: none;
  }
  a:hover{
    @include transition(.25s);
    color: $red;
  }
}
